[Unit]
Description=disks: filebrowser
ConditionPathExists=/var/lib/lm-server/env/disks/enabled

[Container]
ContainerName=filebrowser
Pod=disks.pod
# FileBrowser Quantum (github.com/gtsteffaniak/filebrowser) -- published as gtstef/.
Image=docker.io/gtstef/filebrowser:stable
AutoUpdate=registry
User=0:0
Environment=FILEBROWSER_CONFIG=/home/filebrowser/config/config.yaml
Volume=/var/lib/lm-server/env/disks/filebrowser:/home/filebrowser/config:ro,Z
Volume=/var/lib/lm-server/volumes/disks/app/filebrowser:/home/filebrowser/data:Z
# The shares from `[disks] shares = [...]`: /shares/<name>.
Volume=/var/lib/lm-server/volumes/disks/shares:/shares:z
NoNewPrivileges=true

[Service]
Slice=lm-server-disks.slice
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=disks-pod.service
