[Unit]
Description=disks: filebrowser
ConditionPathExists=/var/lib/lm-server/env/disks/enabled

[Container]
ContainerName=filebrowser
Pod=disks.pod
Image=docker.io/gtsteffaniak/filebrowser:stable
AutoUpdate=registry
User=0:0
Environment=FILEBROWSER_CONFIG=/home/filebrowser/config/config.yaml
Volume=/var/lib/lm-server/env/disks/filebrowser:/home/filebrowser/config:ro,Z
Volume=/var/lib/lm-server/data/disks/filebrowser:/home/filebrowser/data:Z
Volume=/var/mnt/data/disk_0:/mnt/disk_0:z
Volume=/var/mnt/data/docs:/mnt/docs:z
NoNewPrivileges=true

[Service]
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=disks-pod.service
