[Unit]
Description=immich: immich-redis
ConditionPathExists=/var/lib/lm-server/env/immich/enabled

[Container]
ContainerName=immich-redis
Pod=immich.pod
Image=docker.io/valkey/valkey:9-alpine
AutoUpdate=registry
NoNewPrivileges=true

[Service]
Slice=lm-server-immich.slice
Restart=always
TimeoutStartSec=900

[Install]
WantedBy=immich-pod.service
